* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #250057;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 200px;
    border: 1px solid #09fffb;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 8px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #555;
}

.input-box i {
    cursor: pointer;
    color: #250057;
}